div{
    width: 30px;
    width: 600px;
    height: 300px;
    margin: 50px auto;
   /* background-image: radial-gradient(blue, red); /* SINTAK SEDERHANA,  2 warna */
    background-image: radial-gradient(circle closest-side, red ,blue);
}


/* 
===============================================

sintaks sederhana dari radial gradiant :

- background-image: radial-gradiant(warna awal, warna akhir); 

- MULTIPLE COLOR :
background-image: radial-gradiant(warna 1, warna 2, ... , warna n); 

- COLOR STOP :
background-image: radial-gradiant(red 20% , green 20% , blue 30%); 

===============================================

SINTAK LENGKAP :

radial-gradiant( <tipe> <jangkauan> at <posisi-y> <posisi-x>, <warna-1>, <warna-2>, ... <warna-n> );

penjelasan :

tipe : - ellipse
       - circle

jangkauan : jarak dari pusat gradient ke sisi terluarnya.

4 nilai jangkauan :

closest-corner
jarak dari pusat gradient ke sudut terdekat elemen.

closest-side
jarak dari pusat gradient ke sisi terdekat elemen.

farthest-corner
jarak dari pusat gradient ke sudut terjauh elemen.

farthest-side
jarak dari pusat gradient ke sisi terjauh elemen.

*/