body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.navbar{
    background:red;
    height: 85px;
    display: flex;
    padding: 0 10%;
    align-items: center; /* membuat text rata tengah atas bawah */
    justify-content: space-between;
}
.nav-menu{
    display: flex;
    gap: 30px;
}

.navbar > h1{
    font-size: 20px;
    font-weight: bold;
    color: white;
}