*{
    text-decoration:none;
    margin: 0;
    padding:0;
}

body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
     background:linear-gradient(#61C0F5, #8489FF); 
    background-size: cover;
}

.logo a{
    font-size: 34.38px;
    font-weight: bold;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    margin-left: 135px;
    margin-top: 45px;
    position: absolute;
}

.menu{
    float: right; /* mengatur posisi elemen jadi ke kanan */
     padding-left: 450px;
    padding-top: 43px; 
    
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position:sticky;  
    position: -webkit-sticky;
    top: 0; 
}
nav ul {
    list-style-type: none ;
    margin: 0;
    padding: 0;
    overflow: hidden;  
   
}

nav ul li {
     float: left; /* mengatur posisi elemen jadi ke kiri  */

}
nav ul li a {
    color: #ffffff;
    text-align: center;
    font-size: 24.53px;
    padding: 0px 16px 0px 16px;
    text-decoration: none; 
    font-family: 'Montserrat';
    padding: 0px 25px 0px 25px;
}

nav ul li a:hover{
    text-decoration: underline;
}

.telefon a{
   font-size: 19.2px;
   color: #ffffff;
   font-family: 'Montserrat';
   float: right;
   position: absolute; 
   padding-top: 43px;
   padding-left: 200px;
}

