.satu{
    width: 300px;
    height: 300px;
    background-color: #f60;
    position: relative;
    opacity: 1;
}

.dua{
    width: 100px;
    height: 100px;
    position: absolute;
    right: -50px;
    bottom: -50px;
    opacity: 0.5;
    background-color: blue;
}