:root{
    --purple:#814096;
    --pink:#F83292;
    --gradient:linear-gradient(90deg, var(--purple), var(--pink));
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
}

*::selection{
    background:var(--pink);
    color:#fff;
}

    html{
        font-size: 62.5%;
        overflow-x: hidden;
    }
    
    body{
        background:#f9f9f9;
    }
    
    section{
        min-height: 100vh;
        padding:0 9%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
    
    .btn{
        display: inline-block;
        margin-top: 1rem;
        padding:.8rem 3rem;
        border-radius: 5rem;
        background:var(--gradient);
        font-size: 1.7rem;
        color:#fff;
        cursor: pointer;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transition: all .3s linear;
    }
    
    .btn:hover{
        transform: scale(1.1);
    }
    
    .heading{
        text-align: center;
        background:var(--gradient);
        color:transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 3.5rem;
        text-transform: uppercase;
        padding:1rem;
    }
    

    header{
        position: fixed;
        /* padding-bottom: 500px; */
        top:0; left:0;
        width:100%;
        background:#FFF3E4; 
        /* background-color: aquamarine; */
        /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); */
        padding:4rem 9%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
    }
    
    /* awal logo */
    header .logo{
        font-size: 32px;
        color:var(--purple);
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    
    header .logo span{
        color:#113C49;
    } 

    /* akhir logo */
    
    header .navbar a{
        font-size: 22px;
        margin-left: 2rem;
        color:var(--purple);
        font-family: 'Poppins', sans-serif;
        color: #252641;
        
    }

    header .navbar a:hover{
        color:var(--pink);
    }
    header input{
        display: none;
    }
    
    header label{
        font-size: 3rem;
        color:var(--purple);
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
    }

    /* awal home */
    .home {
        display: flex;
        width: 100%;
        height: 1118px;
        justify-content: center;
        background-size: cover;
        background-position:center ;
        background-color: #FFF3E4;;
        align-items: center;
        
    }

    .home .content {
         margin-right: 600px;
         margin-top: 335px;
         margin-bottom: 621px
    }
    .home .content h3 {
        font-size: 54px;
        /* margin-left: 140px;  */
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #2F327D;
    }

    .home .content h3 span{
        color: #F48C06;
        text-transform: uppercase;
    }
    
    .home .content p {
        color: #464646;
        font-size: 24px;
        font-family: 'Nunito Sans', sans-serif;
       margin-right: 120px;
       margin-left: 3px;
    }
    /* .home .join {
        background-color: aqua;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        width: 300px;
        height: 80px;
        align-items: center; 
        justify-content: space-between;
        border-radius: 80px;
    } */


    /* .home .image img{
        position: absolute;
        background-color: black;
        width: 911px;
        height: 892px;
        z-index: 55;
    } */

    /* .home.image img{
      margin-right: 300px;
    } */

    /* section iklan */

    .iklan .juduliklann{
        font-size: 28px;
        font-family: 'Poppins', sans-serif;
        color: #696984;
        /* background-color: aqua; */
        align-items: center;
        text-align: center;
        margin-left: 300px;
        margin-right: 300px;
        
        
    }
    /* .iklan .fotoiklan {
        /* background-color: brown; */
    

    .iklan .keteranganiklan{
        margin-top: 135px;
        text-align: center;
        align-items: center;
    }

    .iklan .keteranganiklan .ketiklan{
        font-size: 36px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #2F327D;
        /* margin-left: 713px; */
    }
    .iklan .keteranganiklan .ketiklan span{
        color: #F48C06;
    }
    .iklan .keteranganiklan .paragrafiklan{
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: #696984;
    }
    
    .iklan .what{
        /* background-color: aqua; */
        height: 708px;
        width: 1300px;
        margin-top: 159px;
        /* margin-right: 310px;
        margin-left: 310px; */ */
    }

    .iklan .what .judulwhat{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 44px;
        color: #2F327D;
        
    }
    .iklan .what .judulwhat span{
        color: #F48C06;
    }
    
    .iklan .what .isiwhat{
        margin: auto;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #696984;
        height: 129px;
        width: 1101px;
    }
    
    .what .fotowhat{
        background-color: brown; 
        margin-top: 80px;
    }
 
    .what .fotowhat .fotowhat1{
  
    }
   
    /* akhir section iklan */