/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ===================================== mulai CSS =============================== */
/* ===========================   AWAL HEADER CSS   =============================== */
body{
    font: 16px/28px arial, sans-serif; /* ukuranfont,jarakspacy, font1,font2 */
    background-color: #eaeaea; 
    color: #333;
    height: 2000px;
}

.header{
    background-color: darkcyan;
    position: fixed;
    height: 50px;
    width: 100%;
    /* top: 0;
    left: 0; */
}

.header h1{
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 10px;
    
}

.header ul li {
    display: inline-block;
    position: relative;
    left: 1350px; 
    bottom: 35px;
    
}
.header a{
    text-decoration: none; /* menghilangkan garis bawah link */
    color:white;
    padding: 3px; 
    font-size: 18px;
}
.header a:hover{ /* :hover      : style ketika kursor mouse berada diataas sebuah link / elemen. */
    background-color:rgb(77, 221, 221) ;
    color: white; /*mengganti warna tulisan saat hover aktif */

}


/* ===========================   AKHIR HEADER CSS   =============================== */

/* ===========================   AWAL HOME CSS   =============================== */

.perkenelan{
    border: 10px solid green;
    color: darkgoldenrod;
    
}




































