h1{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(170, 164, 164);
    text-shadow: 0 2px 1px black;
}

/* 
di text shadow hanya ada : <x-offset> <y-offset> <blur> <color>
*/Linear Gradient