body{
    height: 2000px;
   
}

div{
    width: 200px;
    height: 200px;
    margin: auto;
}
.satu{
    background-color: lightgreen;
}
.dua{
    background-color: violet;
    /* position: absolute; */
    position: fixed;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
   
}
.tiga{
    background-color: gold;
}

.container{
    width: 600px;
    height: 650px;
    border: 10px solid green;
    position: relative;
}

/* 
- jadi position absolute yaitu  ntuk membuat suatu elemen bisa dipindahkan dan membuat elemen mengambang ke atas dibanding element lain. 
Bedanya dengan property relative, pada property absolute layer bawahnya akan bergeser seolah olah berada di bawah layer dengan property relative.

- Value fixed digunakan untuk membuat elemen mengambang di antara elemen elemen lain dan juga bisa dipindahkan posisinya.
 Property ini mirip dengan property absolute. Bedanya dengan property absolute adalah property dengan value fixed posisinya akan tetap berada di posisinya 
 terhadap layar meskin layar page scroll.
*/