.padding{
    height: 300px; 
    width: 300px;
    background-color: coral ;
    margin: 20px auto;
    padding: 10px 20px 30px 40px;
}

.border{
    height: 300px; 
    width: 300px;
    background-color:cornflowerblue ;
    margin: 20px auto;
    padding: 50px;
    border: 5px solid greenyellow; ;
    /* border-left: 5px solid blue;  membuat border hanya 1 sisi */
}

/* 
info :
padding tidak bisa diberi nilai negatif.
padding tidak mempunyai nilai auto.
padding mempengaruhi ukuran elemen.
border juga mempengaruhi ukuran elemen.
*/

/*  
margin  : area transparan di sekitar kotak 
padding : area transparan di dalam kotak (antra content dan border)
border  : batas disekeliling content dan padding
content : konten sbenearnya di dalam box, bisa berupa teks atau gambar
*/
