

.container{
    width: 600px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

/* image gallery */
.kotak{
    width: 80px;
    height: 80px;
    color: white;
    background-color: salmon;
    text-align: center;
    line-height: 80px ; /* membuat tulisan ditengah tengah kotak yaitu dengan membuat line height sesuai dengan tinggi kotaknya */
    font-size: 30px;
    margin: 2px;
     float: left; /* jika ingin berjejer disebelah kanan maka menggunakan float left */
}