/*  membuat kotak biru solid, dan kotak oren transparan :
- caranya bisa memakai rgba() / red green blue alpha(alpha == transparansi)*/

.satu{
    width: 300px;
    height: 300px;
    background-color: #f60;
    position: relative; 
    background-color: rgba(255,102,0,0.5); /* 0.8 yaitu ukuran besar transparansi */
    
  
}
.dua{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    right: -50px;
    bottom: -50px;

}

/*
- rgba yaitu untuk membuat transparansi pada warna bukan elemen 
- opacity yaitu untuk membuat transparansi pada elemen */

