*{
    text-decoration:none;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper{
    width: 1100px; /* mengatur panjang class wrapper  */
    margin: auto;  /*supaya posisi margin dari class wrapper di area center */
    position: relative; /*supaya keluar dari default position */
}

.logo a{
    font-size: 50px; /* mengatur ukuran font */
    font-weight:800; 
    float: left; /* mengatur posisi elemen menjadi ke kiri ; */  
    font-family: 'Courier New', Courier, monospace;
    color: #364f6b;
}

.menu{
    float: right; /* mengatur posisi elemen jadi ke kanan */
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
     position:sticky;  
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
     background-color:#ffffff; 
    /* background-color: #fc5185; */
    border-bottom: 1px solid #364f6b;
    

}

nav ul {
    list-style-type: none ;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

nav ul li {
     float: left; /* mengatur posisi elemen jadi ke kiri  */

}
nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none; 
}

nav ul li a:hover{
    text-decoration: underline;
}

/* ======================================================== akhir navigasi bar ==============================================*/
/* ============================================================= awal home  =================================================*/

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}
.kolom .deskripsi {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}

h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 400px;
    line-height: 70px;
}

a.tbl-biru{
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background: #fc5185;
    text-decoration: none;
}

a.tbl-pink{
    background: #fc5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:#ffffff;
    cursor: pointer;
    font-weight: bold;    
}
a.tbl-pink:hover{
    background: #3f72af;
    text-decoration: none;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
} 
/* ============================================================= akhir home  =================================================*/
/* ======================== awal tutor ====================================  */
.tengah{
    text-align: center;
    width: 100%;
}

.tutor-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.kartu-tutor{
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img{
    width: 80%;
    border-radius: 50%;
}
.kartu-tutor p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}

/* ========================== akhir tutor ================================== */
